# Configuración de Base de datos (Local o Docker)
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=password
DB_NAME=unieventos

# Configuración JWT (Seguridad)
JWT_SECRET=dev_secret_cambiar_en_produccion

# Configuración MUX (Transmisiones en Vivo)
# Crea una cuenta en https://mux.com para obtener estos tokens
MUX_TOKEN_ID="tu-token-aqui"
MUX_TOKEN_SECRET="tu-secret-aqui"
