# Configuración de Base de datos (Local o Docker)
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=password
DB_NAME=unieventos

# Configuración JWT (Seguridad)
JWT_SECRET=dev_secret_cambiar_en_produccion

# Configuración de Resend (Envío de Correos)
RESEND_API_KEY=re_48BbvmEj_ugyASSqDGbXDgWkWPQdjuQhj
SENDER_EMAIL=noreplay@unieventos.com
